table{
    width: 100%;
}

button {
    margin-right: 10px;
}

.header{
    background-color: #f0f0f0;
    background-size: cover;
    border: medium solid;
    border-color: #f0f0f0;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
}